.headerDiv {
  display: flex;
  padding: 5% 1%;
  justify-content: center;
}

.headerTxt {
  padding: 1% 2%;
}

.headerImg {
  width: 50%;
  padding: 1% 2%;
}

.aboutDiv {
  padding: 1% 2%;
  text-align: center;
  background-color: grey;
}

.aboutPic {
  width: 10%;
}

.toHelpExamples {
  text-align: center;
  margin: 5%;
  padding: 1% 2%;
}

.sign-up-div {
  padding: 1% 2%;
}

.sign-up-form {
  width: 40%;
  padding: 1% 2%;
  margin: 5%;
}
